group.id=ssl-host
ssl.truststore.location=/etc/kafka/secrets/kafka.consumer.truststore.jks
ssl.truststore.password=zaQ@1234

ssl.keystore.location=/etc/kafka/secrets/kafka.consumer.keystore.jks
ssl.keystore.password=zaQ@1234

ssl.key.password=zaQ@1234
ssl.endpoint.identification.algorithm= 

security.protocol=SSL
